
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <title>Forward Pricing tool</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">






  
</head>

 


  <body>

    <section id="intro">
      <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
  
  
            <div class="carousel-item active">
              <div class="carousel-background"><img src="{{ url_for('static', filename='img/back3.jpg') }}" alt=""></div>
              <div class="carousel-container">
               
                  <div class="auth-wrapper">
    <div class="auth-content">
      <div class="card">
         <form  action="{{ url_for('calculate') }}" method="POST">
        
          
            <div class="card-body">
             
              
  
          <div class="banner">
            <h1 style="font-family:verdana">Outil de calcul Forward</h1>
          </div>
          <br/>
          <p>
          <div class="item">
            <label for="fname">Achat ou vente? (Point de vue client)<span></span></label>
            <select  id="deal"  name="deal" class="selectpicker form-control">
              <option value="Achat" selected>Achat</option>
              <option value="Vente">Vente</option>
            </select>          </div>
          </p>
          <br/>
           <div class="colums">
          <div class="item">
            <label for="fname">Maturité en jours<span>*</span></label>
            <input id="fname" type="number" name="Maturité_en_jours" value="{{ mat }}" required/>
          </div>
          <div class="item">
            <label for="lname"> Montant<span>*</span></label>
            <input id="lname" type="number" name="Montant" value="{{ mtt }}" required/>
          </div>
          <div class="item">
            <label for="org">Marge Commerciale en pips<span>*</span></label>
            <input id="org" type="number"   name="Marge_Commerciale" value="{{ mar }}" required/>
          </div>

          <div class="item">
            <label for="title">Cours Spot<span>*</span></label>
            <input id="title" type="float" name="Cours_Spot" value="{{ spot }}" required/>
          </div>
          <div class="item">
            <label for="city">Taux d'interet local<span>*</span></label>
            <input id="city" type="float"   name="Taux_d'interet_local" value="{{ trl }}" required/>
          </div>
          <div class="item">
            <label for="city">Taux d'interet etranger<span>*</span></label>
            <input id="city" type="float"   name="Taux_d'interet_etranger" value="{{ tret }}" required/>
          </div>

          <div class="item">
            <label for="fname">Taux proposé par le client<span></span></label>
            <input id="fname" type="text" name="clt_rate" value="{{ clr }}"/>
          </div>
        

        <div class="item">
          <p>Frequence du taux d'interet</p>
          <select  id="Frequence_du_taux_d'interet"  name="Frequence_du_taux_d'interet" class="selectpicker form-control">
            <option selected value="" disabled selected></option>
            <option value="Annuel" selected>Annuel</option>
            <option value="Semestriel">Semestriel</option>
            <option value="Trimestriel">Trimestriel</option>
          </select>
        </div>


        <div class="item">
            <p>Continu ou Discret?</p>
            <select  id="Continu_ou_Discret"  name="Continu_ou_Discret" class="selectpicker form-control">
              <option selected value="" disabled selected></option>
              <option value="Continu" >Continu</option>
              <option value="Discret" selected>Discret</option>
            </select>
          </div>


          <div class="item">
            <label for="fname">Forward<span></span></label>
            <input id="fname" type="float" name="fwd" value="{{ result }}" />
          </div>

          <div class="item">
            <p>Choisir un parametre à optimiser</p>
            <select  id="opt"  name="opt" class="selectpicker form-control">
              <option selected value="" disabled selected></option>
              <option value="Forward" selected>Forward</option>
              <option value="Spot" >Spot</option>
              <option value="Taux d'interet local" >Taux d'interet local</option>
            <!--  <option value="Taux d'interet etranger" >Taux d'interet etranger</option>-->
            </select>
          </div>


      <div class="btn-block" style="margin-left: 120px;">
          <button type="submit" name="action1" value="Do Something" href="/">Submit</button>
 

  
        </div>  

      


      <div class="result" align="center" style="width: 300px; margin-right: 0px" >
    
    
  <!--       <p style="font-size:25px"> Cours Forward :
        </p>
        <br\>
           <p style="font-size:35px">{{ result }}</p>-->
           
 
           <p style="font-size:25px"> Montant :
          </p>
          <br\>
             <p style="font-size:25px">{{ fwd_amount }}</p>




            <br\>
               <p style="font-size:18px">{{ margin }}</p>

           
</div>
</div>
</form>

</div>
</div>

</div>

            </div>
      
        </div>

       

</div>


</section><!-- #intro -->


</body>
<br>

    </div>

  
</html>