
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
   <title>Swap Pricing tool</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->


  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/lightbox/css/lightbox.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">






  
</head>

 



<body>

  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">


          <div class="carousel-item active">
            <div class="carousel-background"><img src="{{ url_for('static', filename='img/back3.jpg') }}" alt=""></div>
            <div class="carousel-container">
             
                <div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">



      <form id="upload_form" action="{{ url_for('swap_optimizer') }}" method="POST">

        <div class="banner">
          <h1 style="font-family:verdana">Optimisation</h1>
        </div>
        <br/>
        <p>


        <div>
          <p>Upload CSV files:</p>
          <p><input id="upload_button" type="file" class="btn btn-default btn-xs" name="data_files"></p>
          <p><input id="submit_button" type="submit" class="btn btn-success" value="Upload">
        </div>
      </form>

      <br\>
         <p style="font-size:25px">{{ l }}</p>


    </div>

    <p style="font-size:25px">{{ l }}</p>              

</body>
<br>

    </div>

  
</html>